<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xstream.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
				<key>dateExpires</key>
				<string>2027/2/14</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FlutterMacOS.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Pods_Runner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mobile_scanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_macos.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8226A6557D24506C93E7C3F70BB11AF4B72DDEB6</string>
								<key>dateExpires</key>
								<string>2027/2/14</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>libxray_bridge.dylib</string>
							<key>symbols</key>
							<true/>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>N3G9T67W78</string>
								<key>name</key>
								<string>Haitao Pan</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>com.apple.application-identifier</key>
						<string>N3G9T67W78.plus.svc.xstream.PacketTunnel</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>N3G9T67W78</string>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.plus.svc.xstream</string>
						</array>
						<key>com.apple.security.network.client</key>
						<true/>
						<key>com.apple.security.network.server</key>
						<true/>
					</dict>
					<key>name</key>
					<string>PacketTunnel.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>7f1190af-006d-4ce3-94a1-f6f50a74366e</string>
						<key>dateExpires</key>
						<string>2027/2/14</string>
						<key>name</key>
						<string>Mac Team Store Provisioning Profile: plus.svc.xstream.PacketTunnel</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N3G9T67W78</string>
						<key>name</key>
						<string>Haitao Pan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>N3G9T67W78.plus.svc.xstream</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>N3G9T67W78</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.plus.svc.xstream</string>
				</array>
				<key>com.apple.security.cs.allow-jit</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
			</dict>
			<key>name</key>
			<string>xstream.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4e17f391-535f-4bd4-b3a7-955e4c0ce532</string>
				<key>dateExpires</key>
				<string>2027/2/14</string>
				<key>name</key>
				<string>Mac Team Store Provisioning Profile: plus.svc.xstream</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N3G9T67W78</string>
				<key>name</key>
				<string>Haitao Pan</string>
			</dict>
			<key>versionNumber</key>
			<string>0.3.4</string>
		</dict>
	</array>
</dict>
</plist>
